@import '../../../styles/settings.scss';

.component {
  position: relative;
  min-height: ($base-size * 35);
  background: $color-dark;
  margin: 0 0 ($base-size * 5) 0;
  overflow: hidden;
  &.small {
    min-height: ($base-size * 25)
  }
  @include p-el('before') {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.3;
    z-index: 99;
  }
}

.title {
  position: absolute;
  z-index: 999;
  left: 50%;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: ($base-size * 5);
  text-transform: uppercase;
  color: $color-light;
  transform: translate(-50%,-50%);
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.happyHour {
  z-index: 999;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

.summerTime {
  z-index: 999;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  top: 10%;
}
